@shell({ title: 'emacs.one - Snippets' })

@header({title})
<li><a href="{{route('home')}}">Home</a></li>
<li><a href="{{route('snippets.index')}}">Snippets</a></li>
@end

<div class="grid gap-2 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4">
  @each(snippet in snippets)
  @!snippetCard({snippet})
  @end
</div>

@!pagination({routeBase: route('snippets.index'), pagination})

@end
