<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>AdonisJS - A fully featured web framework for Node.js</title>

    @vite(['resources/js/base.ts'])
  </head>
  <body>
<div id="root" class="relative mx-auto mb-8 w-10/12 h-96">
</div>
    <div class="relative mx-auto w-10/12 h-96">
      <textarea
        class="w-full h-full !m-5 !p-5 shadow-blocky leading-3 font-mono absolute top-0 left-0 overflow-auto whitespace-nowrap resize-none flex z-10 peer min-h-[80px] px-3 py-2 !text-lg bg-transparent text-transparent caret-black border-2 border-neutral-900 placeholder:text-neutral-500 focus:border-neutral-900 focus:outline-none focus:ring-0 disabled:cursor-not-allowed disabled:opacity-50 focus:shadow-none duration-500"
        placeholder="Enter emacs snippet"
        id="editing"
        spellcheck="false"
      ></textarea>
      <pre
        id="highlighting"
        class="border-2 w-full h-full !m-5 !p-5 text-lg leading-3 z-0 font-mono absolute top-0 overflow-auto !whitespace-nowrap left-0 bg-slate-100 text-black"
        aria-hidden="true"
      >
        <code class="language-lisp !text-lg leading-3 !font-mono m-0 whitespace-pre" id="highlighting-content"></code>
      </pre>
    </div>
  </body>
</html>
